
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    height: 10vh; 
}
nav p{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.game{
    background-color: #121212;
    color: white;
    display: flex;
   
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 90vh;
}
.item{
    background-color: rgb(196, 164, 24);
    color: white;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.game_area{
    display: flex;
}
main{
    background-color: rgb(18, 46, 202);
    border-radius: 20px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    
}
.scoreboard{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #121212;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.scoreboard p{
    margin-top: 5px; 
}
header{
    font-size: larger;
    margin: 20px;
}
#choosing{
    margin: 10px;
}
